# Maven and Java build output
/target/
/out/
*.class

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/
/bin/

# Gradle
/.gradle/
/build/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Visual Studio Code
/.vscode/

# OS files
.DS_Store
Thumbs.db

# Local execution output
/result.txt
